p{
    text-align: center;
}
table{
   text-align: center; 
}
table, th ,td{
    border: 0.5px solid rgb(206, 206, 242);
}
.planet_name{
    border-left: 3px solid black;
    border-right: 3px solid black;
}
#name_p{
    border-top:  3px solid black;
}
#name_a{
    border-bottom: 3px solid black;
}
tr:nth-child(odd){
    background-color: rgb(225, 225, 247);
}
